body {
  margin: 0;
  font-family: "Palette Mosaic";
}
a {
  text-decoration: none;
  color: rgb(49, 46, 46);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  padding: 8px 12px;
}
.logo {
  font-size: 24px;
  color: hotpink;
}
.menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.menu li {
  padding: 8px 12px;
}
.menu li:hover {
  background-color: hotpink;
  border-radius: 4px;
}
.icons {
  display: flex;
  color: hotpink;
  padding-left: 0;
  list-style: none;
}
.icons li {
  padding: 8px 12px;
}

.toggle {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: palevioletred;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menu li {
    width: 100%;
    text-align: center;
  }
  .icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .toggle {
    display: block;
  }

  .menu.active,
  .icons.active {
    display: flex;
  }
}
